{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    {% include 'global/partials/head.html' %}
    <title>
      {% block title %}

      {% endblock %}Recipes
    </title>
  </head>

  <body>
    {% include "global/partials/menu.html" %}
    {% include 'global/partials/header.html' %}
    {% include 'global/partials/search.html' %}

    <main class="main-content-container">
      {% block content %}

      {% endblock %}
      {% include 'global/partials/pagination.html' %}
    </main>

    {% include 'global/partials/footer.html' %}

    <script src="{% static 'global/js/scripts.js' %}"></script>
  </body>
</html>
