<div class="recipe recipe-list-item">
  <div class="recipe-cover">
    {% if recipe.cover %}
      <a href="{{ recipe.get_absolute_url }}">
        <img src="{{ recipe.cover.url }}" alt="recipe-image">
      </a>
    {% endif %}
  </div>
  
  <div class="recipe-title-container">
    <h2 class="recipe-title">
        <a href="{% url "recipes:recipe" recipe.id %}">
          {{ recipe.title }}
        </a>
    </h2>
  </div>

  <div class="recipe-author">
    <span class="recipe-author-item">
      {% if recipe.author.profile %}
        <a href="{% url "authors:profile" recipe.author.profile.id  %}">
      {% endif %}

      <i class="fas fa-user"></i>
      {% if recipe.author.first_name and recipe.author.last_name %}
        {{recipe.author.first_name}}{{recipe.author.last_name}}
      {% elif recipe.author.first_name %}
        {{recipe.author.first_name}}
      {% else %}
        {{recipe.author.username}}
      {% endif %}

      {% if recipe.author.profile %}
        </a>
      {% endif %}
    </span>

    <span class="recipe-author-item">
      <i class="fas fa-calendar-alt"></i>
      {{ recipe.created_at|date:"d/m/Y" }} às {{ recipe.created_at|time:"H:i" }}
    </span>
    {% if recipe.category is not None %}
      <span class="recipe-author-item">
        <a href="{% url "recipes:category" recipe.category.id %}">
          <i class="fas fa-layer-group"></i>
          <span>{{recipe.category.name}}</span>
        </a>
      </span>
    {% endif %}
  </div>

  <div class="recipe-content">
    <p>{{recipe.description}}</p>
  </div>

  <div class="recipe-meta-container">
    <div class="recipe-meta recipe-preparation">
      <h3 class="recipe-meta-title"><i class="fas fa-stopwatch"></i> Preparo</h3>
      <div class="recipe-meta-text">
        {{recipe.preparation_time}} {{recipe.preparation_time_unit}}
      </div>
    </div>
    <div class="recipe-meta recipe-servings">
      <h3 class="recipe-meta-title"><i class="fas fa-pizza-slice"></i> Porções</h3>
      <div class="recipe-meta-text">
        {{recipe.servings}} {{recipe.servings_unit}}
      </div>
    </div>
  </div>

  {% if is_detail_page is not True %}
  <footer class="recipe-footer">
    <a class="recipe-read-more button button-dark button-full-width" href="{% url "recipes:recipe" recipe.id %}">
      <i class="fas fa-eye"></i>
      <span>ver mais...</span>
    </a>
  </footer>
  {% endif %}

  {% if is_detail_page is True %}
    <div class="preparation-steps">
      {% if recipe.preparation_steps_is_html is True %}
        {{recipe.preparation_steps|safe}}
      {% else %}
        {{recipe.preparation_steps|linebreaksbr}}
      {% endif %}

      {% if recipe.tags.all %}
        <p>Tags: 
            {% for tag in recipe.tags.all %}
              <a href="{% url 'recipes:tag' tag.slug %}"> {{ tag.name }}</a>
            {% endfor %}
        </p>
      {% endif %}
    </div>
  {% endif %}

</div>