<form action="{{ form_action }}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}

  <div class="form-content form-content-grid">
    {% for field in form %}
      <div class="form-group {{ field.field.widget.attrs.class }}">
        <label for="field.id_for_label">{{ field.label }}</label>
        {{ field }}

        {% if field.help_text %}
          <p class="help-text">{{ field.help_text }}</p>
        {% endif %}

        {{ field.errors }}
      </div>

      {% if field.name == 'cover' and field.value %}
        <div class="span-2">
          <img src="{{ field.value.url }}" alt="Capa para {{ recipe.title }}" />
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <div class="form-content form-content-grid">
    <div class="form-group">
      <button type="submit">Send</button>
    </div>
  </div>
</form>
