{% if messages %}
  <div class="center container message-container ">
      {% for message in messages %}
          <div class="message {{ message.tags }}">
            {{ message }}
          </div>
      {% endfor %}
  </div>
{% endif %}
