{% if recipes.has_other_pages %}
  <div class="container pagination">
    <div class="pagination-content">
      {% if pagination_range.first_page_out_of_range %}
        <a class="page-link page-item" href="?page=1{{ additional_url_query }}">1</a>
        <span class"page-item">...</span>
      {% endif %}

      {% for page in pagination_range.pagination %}
        <a 
          class="page-link page-item 
            {% if pagination_range.current_page == page %}
              page-current
            {% endif %}" 
          href="?page={{ page }}{{ additional_url_query }}">
          {{ page }}
        </a>  
      {% endfor %}

      {% if pagination_range.last_page_out_of_range %}
      <span class"page-item">...</span>
      <a 
        class="page-link page-item" 
        href="?page={{ pagination_range.total_pages }}{{ additional_url_query }}">
          {{ pagination_range.total_pages }}
      </a>
    {% endif %}
    </div>
  </div>
{% endif %}

