<div class="search-container">
  <div class="container">
    <form action="{% url "recipes:search" %}" method="GET" class="search-form">
      <input type="search" class="search-input" value="{{ search_term }}" name="search" required>
      <button type="submit" class="search-button">
        <i class="fas fa-search main-logo-icon"></i>
      </button>
    </form>
  </div>
</div>