{% extends 'global/base.html' %}

{% block title %}
  Dashboard Recipe |
{% endblock title %}
{% block content %}
  <div class="main-content container">
    {% include 'global/partials/messages.html' %}
    <div class="container">
      <h2 class="center-text">Dashboard Recipe</h2>
      {% include 'authors/partials/login_message.html' %}
      {% include 'global/partials/form.html' %}
    </div>
  </div>
{% endblock content %}
