{% extends 'global/base.html' %}

{% block title %}
  Login |
{% endblock %}

{% block content %}
  <div class="main-content container">
    {% include 'global/partials/messages.html' %}

    <div class="container">
      <h2 class="center-text">Login</h2>
      {% include 'authors/partials/login_message.html' %}
    </div>

    {% if not user.is_authenticated %}
      {% include 'global/partials/form.html' %}
    {% endif %}
  </div>
{% endblock %}
