{% extends 'global/base.html' %}

{% block title %}
  Profile |
{% endblock %}

{% block content %}
  <div class="main-content container">
    <div class="container">
      <h2 class="center-text">{{profile.author.username}}</h2>
      <p class="center-text">{{profile.bio}}</p>
    </div>
  </div>
{% endblock %}
