{% extends 'global/base.html' %}

{% block title %}
  Register |
{% endblock %}

{% block content %}
  <div class="main-content container">
    {% include 'global/partials/messages.html' %}

    <div class="container">
      <h2 class="center-text">Register</h2>
    </div>

    {% include 'global/partials/form.html' %}
  </div>
{% endblock %}
