{% if user.is_authenticated %}
  <div class="login-message">
    Your are logged in with
    {{ request.user.username }}.<div>
      <a href="{% url 'authors:dashboard' %}">See your recipes</a>,
      <a href="{% url 'authors:dashboard_recipe_new' %}">create a new recipe</a> or
      {% include "authors/partials/form_logout.html" %}
      <a class="authors-logout-link" href="#"> click here</a> to logout.
    </div>
  </div>
{% endif %}
