<!-- Responsável por carregar essa página global 
e o que for definido no block da página global 
será inserido no block dessa página-->
{% extends "global/base.html" %}

{% block title %}Home | {% endblock title %}

{% block content %}
{% include "global/partials/messages.html" %}

<div class="main-content main-content-list container">
  {% for recipe in recipes %}
    {% include "recipes/partials/recipe.html" %}
  {% empty %}
    <div class="center my">
      <h1>Não tem receitas</h1>
    </div>
  {% endfor %}
  
</div>
{% endblock content %}