<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Theory</title>
  </head>
  <body>
    <p> Qtd de receitas: {{ amount_recipes }}</p>
    <h1>Theory</h1>
    {% for recipe in recipes  %}
      <p>{{ recipe.author__full_name }}</p>
    {% endfor %}
    
  </body>
</html>
