:root {
  --color-primary: #269fe6;
  --color-primary-hover: #2086c2;
  --color-primary-dark: #13141f;
  --color-primary-dark-hover: #212336;
  --color-primary-light: #d4ecfa;
  --color-primary-light-hover: #bdd8e7;

  --color-white: #fff;
  --color-black: #000;

  --color-dark-text: #444;
  --color-info-light: #cce5ff;
  --color-debug-light: #cce5ff;
  --color-success-light: #d4edda;
  --color-alert-light: #fff3cd;
  --color-warning-light: #fff3cd;
  --color-error-light: #f8d7da;

  --color-info-dark: #4d86c4;
  --color-debug-dark: #4d86c4;
  --color-success-dark: #4a9c5d;
  --color-alert-dark: #927f40;
  --color-warning-dark: #927f40;
  --color-error-dark: #da525d;

  --color-gray-0: #f9f9f9;
  --color-gray-1: #e0e0e0;
  --color-gray-2: #c7c7c7;
  --color-gray-3: #aeaeae;
  --color-gray-4: #959595;
  --color-gray-5: #7d7d7d;
  --color-gray-6: #646464;
  --color-gray-7: #4b4b4b;
  --color-gray-8: #323232;
  --color-gray-9: #191919;

  --font-primary: sans-serif;
  --font-headings: 'Roboto Slab', serif;

  --spacing-gutter-medium: 3rem;
  --spacing-gutter-large: 4rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: var(--font-primary);
  background: var(--color-gray-1);
  color: var(--color-dark-text);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headings);
}

img {
  max-width: 100%;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

.container {
  max-width: 144rem;
  margin: 0 auto;
  padding: var(--spacing-gutter-medium);
}

.main-header-container {
  background: var(--color-primary-dark);
}

.main-logo {
  font-size: 4rem;
  color: var(--color-white);
  text-decoration: none;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
}

.main-logo-icon {
  margin-right: 2rem;
}

.search-form {
  border: 0.2rem solid var(--color-primary-dark);
  max-width: 64rem;
  margin: 0 auto;
  border-radius: 0.4rem;
  position: relative;
  transition: all 300ms ease-in-out;
  margin-top: 6rem;
}

.search-input,
.search-button {
  border: none;
  background: none;
  outline: none;
  padding: 1rem;
  transition: all 300ms ease-in-out;
}

.search-input {
  width: 100%;
  padding-right: 3rem;
}

.search-button {
  position: absolute;
  top: 0;
  right: 0;
}

.search-button:focus {
  outline: 1px solid var(--color-primary);
  background: rgba(0, 0, 0, 0.05);
}

.search-form:focus-within {
  border-color: var(--color-primary);
  background: var(--color-white);
}

.search-form:focus-within .search-button {
  color: var(--color-primary);
}

.main-content {
  padding-top: 0;
}

.main-content-list {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: var(--spacing-gutter-large);
}

.recipe {
  background: var(--color-white);
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition: all 300ms ease-in-out;
  border-radius: 0.4rem;
  overflow: hidden;
}

.recipe img {
  max-width: 100%;
}

.recipe-list-item {
  max-width: 64rem;
  height: fit-content;
}

.recipe-list-item:hover {
  transform: scale(1.02);
  box-shadow: -8px 8px 18px rgba(0, 0, 0, 0.25);
}

.recipe-title-container {
  padding: var(--spacing-gutter-medium);
  padding-bottom: 2rem;
}

.recipe-title-container a {
  text-decoration: none;
  color: var(--color-primary-dark);
}

.recipe-author {
  padding: 0 var(--spacing-gutter-medium);
}

.recipe-content {
  padding: var(--spacing-gutter-medium);
  padding-top: 2rem;
}

.recipe-author-item {
  color: var(--color-gray-4);
  margin-right: 1rem;
  font-style: italic;
  font-size: 1.4rem;
}

.recipe-author a {
  color: var(--color-primary);
  transition: all 300ms ease-in-out;
  text-decoration: none;
}

.recipe-author a:hover {
  color: var(--color-primary-dark);
}

.recipe-meta-container {
  display: flex;
  flex-flow: row wrap;
  padding: var(--spacing-gutter-medium);
  background: var(--color-gray-1);
}

.recipe-meta {
  display: flex;
  flex-flow: column nowrap;
  flex-shrink: 1;
  flex-grow: 1;
  text-align: center;
}

.recipe-meta-title {
  font-size: 1.6rem;
}


.recipe-footer a {
  background: var(--color-primary-dark);
  display: block;
  color: var(--color-white);
  text-decoration: none;
  text-align: center;
  padding: 1.5rem var(--spacing-gutter-medium);
  transition: all 300ms ease-in-out;
}

.recipe-footer a:hover {
  filter: brightness(2);
}

.main-content-detail .recipe-list-item {
  max-width: 84rem;
  margin: 0 auto;
}

.main-content-detail .recipe-list-item:hover {
  transform: scale(1);
  box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.2);
}

.preparation-steps {
  padding: var(--spacing-gutter-medium);
}

.main-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--color-primary-dark);
  color: var(--color-white);
  padding: var(--spacing-gutter-large);
  margin-top: auto;
}

.main-footer a {
  color: var(--color-white);
  text-decoration: none;
  transition: all 300ms ease-in-out;
}

.main-footer a:hover {
  filter: brightness(0.8);
}

.preparation-steps h1,
.preparation-steps h2,
.preparation-steps h3,
.preparation-steps h4,
.preparation-steps h5,
.preparation-steps h6,
.preparation-steps p,
.preparation-steps pre {
  margin: 2rem 0;
}

.preparation-steps ol,
.preparation-steps ul {
  margin: 2rem;
  padding: 0 2rem;
}

.pagination-content {
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
  gap: 1rem 0.5rem;
}

.pagination .page-item {
  background: var(--color-gray-3);
  padding: 0.5rem 1rem;
  text-decoration: none;

}

.pagination .page-link {
  text-decoration: none;
  background: var(--color-primary);
  color: var(--color-white)
}

.pagination .page-current {
  text-decoration: none;
  background: var(--color-primary-dark);
}

/* Forms */
.form-content {
  max-width: 64rem;
  margin: 0 auto;
  margin-bottom: var(--spacing-gutter-medium);
}

.form-content label,
.form-content .help-text,
.errorlist {
  display: block;
  margin: 0.5rem;
  font-size: 1.4rem;
  list-style-type: none;
}

.errorlist {
  color: var(--color-error-dark)
}

.form-content input,
.form-content textarea,
.form-content select {
  width: 100%;
  padding: 1rem;
  border-radius: .4rem;
  border: 1px solid var(--color-primary-dark)
}

.form-content-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: calc(var(--spacing-gutter-medium) / 2)
}

.form-content button {
  padding: 1rem 2rem;
  border: none;
  background: var(--color-primary-dark);
  color: var(--color-white)
}

.login-message {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
}

.inline-form {
  display: inline;
}

.span-2 {
  grid-column: span 2;
}

.plaintext-button {
  display: inline;
  border: none;
  background: none;
  cursor: pointer;
  color: var(--color-primary);
  font-size: 1.6rem;
}

.authors-dashboard-container h3,
.authors-dashboard-container p,
.authors-dashboard-container ul {
  list-style-type: none;
  margin: 1rem 0;
}

/* Messages */

.message-container {
  display: flex;
  flex-flow: column nowrap;
  gap: calc(var(--spacing-gutter-medium));
}

.message {
  padding: 1rem;
  border-radius: 4px;
  border: 1px solid var(--color-dark-text);
  background: var(--color-gray-2);
  color: var(--color-dark-text);
  text-align: center;
}

.message-error {
  border: 1px solid var(--color-error-dark);
  background: var(--color-error-light);
  color: var(--color-error-dark);
}

.message-success {
  border: 1px solid var(--color-success-dark);
  background: var(--color-success-light);
  color: var(--color-success-dark);
}

.message-warning {
  border: 1px solid var(--color-warning-dark);
  background: var(--color-warning-light);
  color: var(--color-warning-dark);
}

.message-info {
  border: 1px solid var(--color-info-dark);
  background: var(--color-info-light);
  color: var(--color-info-dark);
}

.message-debug {
  border: 1px solid var(--color-debug-dark);
  background: var(--color-debug-light);
  color: var(--color-debug-dark);
}

*/
/* Generics */

.center {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-text {
  text-align: left;
}

.center-text {
  text-align: center;
}

.mx {
  margin: 0 var(--spacing-gutter-medium);
}

.my {
  margin: var(--spacing-gutter-medium) 0;
}

@media (max-width: 600px) {
  .main-content-list {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }

  .login-message {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
  }
}

.hidden-text {
  visibility: hidden;
  opacity: 0;
  display: none;
}

.menu-container {
  position:fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 260px;
  min-height: 100vh;
  overflow-y: auto;
  background-color: var(--color-primary);
  z-index: 2;
  transition: all 300ms ease-in-out;
}

.menu-container a {
  color: var(--color-white);
}

.menu-hidden {
  left: -255px;
}

.button-show-menu {
  position: fixed;
  left: 265px;
  top: 2rem;
  color: var(--color-white);
  background-color: var(--color-primary);
  border: none;
  font-size: 2rem;
  z-index: 3;
  padding: 1rem;
  visibility: hidden;
  opacity: 0;
  transition: all 300ms ease-in-out;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.button-show-menu-visible {
  visibility: visible;
  opacity: 1;
  left: 5px;
}

.button-close-menu {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: var(--color-white);
  background: none;
  border: none;
  font-size: 2rem;
  z-index: 3;
  cursor: pointer;
}

.menu-nav {
  display: flex;
  flex-flow: column wrap;
  font-family: var(--font-headings);
  font-size: 2rem;
}

.menu-nav a {
  width: 100%;
  padding: 1rem;
}

